<footer class="site-footer">

  <div class="wrapper">

    <div class="follow-me">
      <p>
        Sur les réseaux sociaux:
        {% include icon-rss.html %}

        {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
        {% endif %}

        {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}

        {% if site.linkedin_username %}
        {% include icon-linkedin.html username=site.linkedin_username %}
        {% endif %}

        {% if site.stackexchange_username %}
        {% include icon-stackexchange.html username=site.stackexchange_username %}
        {% endif %}


      </p>
    </div>



  </div>

</footer>
