<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
  </div>
  <form
    action="https://formspree.io/f/xnqradeb"
    method="POST"
  >
    <label>
      Pour vous abonner, donnez votre email et cliquez sur "M'abonner"
      <input type="email" name="email">
    </label>
    <!-- your other form fields go here -->
    <button type="submit">M'abonner</button>
  </form>    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
