<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
  </div>
  <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=lepresquetoutlepresquerien', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Entrez votre adresse mail pour recevoir un mail lors d'un nouveau post:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="lepresquetoutlepresquerien" name="uri"/><input type="hidden" name="loc" value="fr_FR"/><input type="submit" value="Souscrire" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>
  <form
    action="https://formspree.io/f/xnqradeb"
    method="POST"
  >
    <label>
      Pour vous abonner, donnez votre email et cliquez sur "M'abonner"
      <input type="email" name="email">
    </label>
    <!-- your other form fields go here -->
    <button type="submit">M'abonner</button>
  </form>    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
